body {
    font-family: "Arial";
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    padding: 0;
    margin: 0;
    width: 1014px;
    margin: 1px auto;
  }

  .clearfix {
    overflow: auto;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.shapka {
    height: 98px;
    background: url("img/shapka.png");
    outline: #000000 solid 1px;
}

.front-header {
    font-family: "Comic Sans MS";
    padding-left: 50px;
    padding-top: 31px;
}

h1 {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    color: #3d3d3d;
}

.sidemenu {
    width: 200px;
    padding: 20px;
    margin-top: 3px;
    outline: #000000 solid 1px;
    float: left;
}

.mainbody {
    outline: #000000 solid 1px;
    margin-top: 3px;
    margin-left: 3px;
    float: left;
}

h3 {
    margin: auto;
    padding: 20px;
    font-size: 36px;
    line-height: 36px;
    color: #3d3d3d;
}